article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;

    border-radius: 10px;
    border-color: darkgrey;
    border-style: solid;
}

